body {
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

main {
    background-color: #ebebeb;
    width: 80%;
    border: 2px #dadada solid;
    padding: clamp(20px, 2rem, 30px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    font-size: clamp(1.5rem, 2.5vw, 4rem);
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.input-form {
    background: #ccc;
    padding: 40px;
}

.input-area {
    display: flex;
    gap: 20px;
}

.input-text {
    padding: 5px;
    min-width: 300px;
    border: none;
}

.input-button {
    padding: 2px 10px;
    border: 1px solid;
    border-radius: 4px;
}

.tab-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sort-list {
    padding: 3px;
    background-color: #ebebeb;
}

.task-main {
    width: 100%;
    border-collapse: collapse;
}

.task-main th,
.task-main td {
    text-align: center;
    border: 2px solid #ccc;
    padding: 10px;
}
